.Part04
    .header_top 
        h1.header_top_title  BECAME A PART OF 
                            span MACHE
                            |  COMMUNITY TODAY
        button.header_top_butn JOIN US
    .intension
        .intension_title
            .intension_title_top 
                p Our Latest Updates
            .intension_title_bot
            p(style="opacity:0.6; font-size:12px") Lorem ipsum dolor sit amet consectetur adipisicing elit. In omnis harum praesentium maiores
            p(style="opacity:0.6; font-size:12px") Lorem ipsum dolor sit amoptio quam, ullam enim possimus commodi dolorum
    .wrapAll
        .ticket_card(id="overplay")
            //- .overplay
            img(src="../img/sm-img-01.png", alt="")
            .ticket_card_content
                p Lorem ipsum dolor sit amet 
                h5 Lorem ipsum dol amet consectetur adipis etit,
                h5 Lorem ipsum dol amet consectetur adipis et  
        .ticket_card
            img(src="../img/sm-img-02.png", alt="")
            .ticket_card_content
                p Lorem ipsum dolor sit amet 
                h5 Lorem ipsum dol amet consectetur adipis etit,
                h5 Lorem ipsum dol amet consectetur adipis et  
        .ticket_card
            img(src="../img/sm-img-03.png", alt="")
            .ticket_card_content
                p Lorem ipsum dolor sit amet 
                h5 Lorem ipsum dol amet consectetur adipis etit,
                h5 Lorem ipsum dol amet consectetur adipis et  
        .ticket_card
            img(src="../img/sm-img-04.png", alt="")
            .ticket_card_content
                p Lorem ipsum dolor sit amet 
                h5 Lorem ipsum dol amet consectetur adipis etit,
                h5 Lorem ipsum dol amet consectetur adipis et  
        .ticket_card
            img(src="../img/sm-img-05.png", alt="")
            .ticket_card_content
                p Lorem ipsum dolor sit amet 
                h5 Lorem ipsum dol amet consectetur adipis etit,
                h5 Lorem ipsum dol amet consectetur adipis et  
        .ticket_card
            img(src="../img/sm-img-06.png", alt="")
            .ticket_card_content(style="background: #f4f4f4")
                p Lorem ipsum dolor sit amet 
                h5 Lorem ipsum dol amet consectetur adipis etit,
                h5 Lorem ipsum dol amet consectetur adipis et  
    .ShowMore
        p Show More
        i.fa-light.fa-angle-down
script(type="module" src="../js/Part4.js") 



  
