.part1 
    .top-half
        .menu 
            .nav-menu 
                .left-menu 
                    span ///
                    | Mache 
                     
                .right-menu 
                    ul  
                        li 
                            .home Home 
                        li About Us 
                        li Our Services 
                        li Prices 
                        li Contact  

                        
        .bg-part1
            //- img(src="../img/title-bg.png", alt="", srcset="")

    .bottom-half 


script(type="module" src="../js/Part1.js") 