.part1
    .top-half(style="background-image: url(../img/title-bg.png)")
        .menu 
            .nav-menu 
                .left-menu 
                    span ///
                    .mache Mache 
                     
                .right-menu 
                    ul  
                        li 
                            .home Home 
                        li About Us 
                        li Our Services 
                        li Prices 
                        li Contact  

        .content
            .title 
                span Mache
                .sm-cnt FREE PSD TEMPLATE 
            .main-content 
                .first-line  Elegant and clean PSD template, which you can download and use for free! 
                br
                .second-line You can easily modify the design to make it your own and help you get your project running faster.
            .showmore-btn
                .cnt  SHOW MORE

    .bottom-half 
        .content-02
            .title-02 
                |Powerfull PSD template 
                hr
                |available for free! 
            .line-02 
            .main-content-02 Lorem ipsum dolor sit, amet consectetur adipisicing elit. In, id minus. Quod quidem illum quo at repellendus perferendis dolorum nulla velit sunt? Labore doloremque modi praesentium sint dolores, sit, veniam dolorum quo aut obcaecati nisi ut hic, et alias. Magnam odio quis ullam incidunt at quos, amet soluta illo sequi.
            .see-video-btn SEE THE VIDEO 
        .laptop 



script(type="module" src="../js/Part1.js") 