.part1 .list-actived {
  opacity: 1;
  visibility: visible;
  transition: 0.8 linear;
}

.part1 .top-half {
  display: block;
  width: 100%;
  height: 800px;
}

.part1 .top-half .menu {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.part1 .top-half .menu .nav-menu {
  display: flex;
  width: 1000px;
  justify-content: space-between;
}

.part1 .top-half .menu .nav-menu .left-menu {
  display: flex;
}

.part1 .top-half .menu .nav-menu .left-menu span {
  font-size: 11px;
  color: #ed145b;
  padding-right: 2px;
  font-weight: 900;
  margin-top: 5.5px;
  cursor: pointer;
}

.part1 .top-half .menu .nav-menu .left-menu .mache {
  font-weight: 900;
  color: white;
  cursor: pointer;
}

.part1 .top-half .menu .nav-menu .right-menu {
  width: 420px;
}

.part1 .top-half .menu .nav-menu .right-menu ul {
  color: white;
  margin-top: 0.5px;
  font-size: 15px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.part1 .top-half .menu .nav-menu .right-menu ul li:hover {
  color: #ed145b;
  cursor: pointer;
  transition: 0.8s;
}

.part1 .top-half .menu .nav-menu .bar-btn {
  display: none;
}

.part1 .top-half .menu .nav-menu .bar-btn i {
  color: white;
}

.part1 .top-half .content {
  width: 990px;
  color: white;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.part1 .top-half .content .title {
  margin-bottom: 300px;
  font-size: 38px;
  display: flex;
  justify-content: center;
}

.part1 .top-half .content .title span {
  font-weight: 700;
}

.part1 .top-half .content .title .sm-cnt {
  padding-left: 15px;
  font-weight: lighter;
  letter-spacing: 4px;
}

.part1 .top-half .content .title:after {
  content: "";
  width: 200px;
  position: absolute;
  height: 2px;
  background: #ed145b;
  margin-top: 4px;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.part1 .top-half .content .main-content {
  transform: translateY(-310%);
}

.part1 .top-half .content .main-content .first-line {
  display: flex;
  justify-content: center;
  font-weight: 200;
}

.part1 .top-half .content .main-content .second-line {
  display: flex;
  justify-content: center;
  font-weight: 200;
  transform: translateY(-50%);
}

.part1 .top-half .content .showmore-btn {
  outline: 5px solid transparent;
  height: 50px;
  width: 200px;
  background: linear-gradient(90deg, #db6a5e, #ed145b);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.part1 .top-half .content .showmore-btn:hover {
  background: linear-gradient(60deg, #79e6e1, #21fd6e);
  cursor: pointer;
  transition: 1s;
  color: #000;
  margin-top: 65px;
}

.part1 .bottom-half {
  width: 100%;
  height: 800px;
  position: relative;
}

.part1 .bottom-half::after {
  content: "";
  width: 100%;
  height: 200px;
  background: #ed145b;
  position: absolute;
  clip-path: polygon(100% 0, 0 0, 0 20%);
}

.part1 .bottom-half::before {
  content: "";
  position: absolute;
  background: linear-gradient(100deg, #faeeee, #df8978);
  height: 550px;
  width: 100%;
  z-index: -1;
}

.part1 .bottom-half .bot-half {
  display: flex;
  width: 1200px;
  position: absolute;
  left: 17%;
  top: 10%;
}

.part1 .bottom-half .bot-half .content-02 {
  width: 35%;
  height: 420px;
  padding-top: 22px;
}

.part1 .bottom-half .bot-half .content-02 .title-02 {
  font-size: 27px;
  font-weight: 200;
  padding-bottom: 30px;
}

.part1 .bottom-half .bot-half .content-02 .title-02::after {
  content: "";
  width: 200px;
  position: absolute;
  height: 2px;
  background: #ed145b;
  margin-top: 4px;
  top: 25%;
  left: 8.4%;
  transform: translate(-50%, -50%);
}

.part1 .bottom-half .bot-half .content-02 .main-content-02 {
  padding-top: 23px;
  font-weight: 200;
  font-size: 15px;
}

.part1 .bottom-half .bot-half .laptop {
  width: 65%;
}

.part1 .bottom-half .bot-half .laptop img {
  display: block;
  width: 100%;
}

.part1 .bottom-half .bot-half .vid-btn {
  color: #ed145b;
  padding-top: 23px;
  width: fit-content;
}

.part1 .bottom-half .bot-half .vid-btn i {
  padding-left: 10px;
  font-size: 18px;
  position: absolute;
  top: 65.9%;
}

.part1 .bottom-half .bot-half .vid-btn .pointer {
  cursor: pointer;
}

@media only screen and (max-width: 1470px) {
  .part1 .bottom-half {
    position: relative;
  }
  .part1 .bottom-half .bot-half {
    width: 1000px;
    position: absolute;
    left: 24%;
  }
  .part1 .bottom-half .bot-half .content-02 {
    width: 35%;
  }
  .part1 .bottom-half .bot-half .content-02 .title-02 {
    padding-bottom: 10px;
  }
  .part1 .bottom-half .bot-half .content-02 .title-02::after {
    margin-top: 11px;
    left: 10%;
  }
  .part1 .bottom-half .bot-half .laptop {
    width: 65%;
  }
  .part1 .bottom-half .bot-half .laptop img {
    display: block;
    width: 100%;
  }
  .part1 .bottom-half .bot-half .vid-btn i {
    top: 80.5%;
  }
}

@media only screen and (max-width: 1340px) {
  .part1 .bottom-half::before {
    height: 500px;
  }
  .part1 .bottom-half .bot-half {
    width: 900px;
    left: 25%;
  }
  .part1 .bottom-half .bot-half .content-02 {
    transform: scale(0.9);
    margin-top: -25px;
  }
  .part1 .bottom-half .bot-half .content-02 .title-02 {
    font-size: 20px;
  }
  .part1 .bottom-half .bot-half .content-02 .title-02::after {
    margin-top: -9px;
    left: 32%;
  }
  .part1 .bottom-half .bot-half .content-02 .main-content-02 {
    font-size: smaller;
  }
  .part1 .bottom-half .bot-half .vid-btn i {
    top: 70.8%;
  }
}

@media only screen and (max-width: 1230px) {
  .part1 .bottom-half {
    position: relative;
  }
  .part1 .bottom-half::before {
    height: 440px;
  }
  .part1 .bottom-half .bot-half {
    width: 800px;
    position: absolute;
    left: 25%;
  }
  .part1 .bottom-half .bot-half .content-02 {
    transform: scale(0.9);
    width: 35%;
    margin-top: -25px;
  }
  .part1 .bottom-half .bot-half .content-02 .title-02 {
    font-size: 20px;
    padding-bottom: 10px;
  }
  .part1 .bottom-half .bot-half .content-02 .title-02::after {
    margin-top: -9px;
    left: 36%;
  }
  .part1 .bottom-half .bot-half .content-02 .main-content-02 {
    font-size: smaller;
  }
  .part1 .bottom-half .bot-half .laptop {
    width: 65%;
  }
  .part1 .bottom-half .bot-half .laptop img {
    display: block;
    width: 100%;
  }
  .part1 .bottom-half .bot-half .vid-btn i {
    top: 75.6%;
  }
}

@media only screen and (max-width: 1090px) {
  .part1 .bottom-half::before {
    height: 407px;
  }
  .part1 .bottom-half::after {
    clip-path: polygon(100% 0, 0 0, 0 11%);
  }
  .part1 .bottom-half .bot-half {
    width: 700px;
  }
  .part1 .bottom-half .bot-half .content-02 {
    width: 40%;
    margin-top: -57px;
  }
  .part1 .bottom-half .bot-half .content-02 .title-02 {
    font-size: 18px;
    padding-bottom: 5px;
  }
  .part1 .bottom-half .bot-half .content-02 .title-02::after {
    top: 23%;
  }
  .part1 .bottom-half .bot-half .content-02 .main-content-02 {
    font-size: 14;
  }
  .part1 .bottom-half .bot-half .vid-btn i {
    top: 73%;
  }
}

@media only screen and (max-width: 1007px) {
  .part1 .top-half .content {
    width: 930px;
  }
}

@media only screen and (max-width: 960px) {
  .part1 .top-half .content {
    width: 840px;
  }
  .part1 .bottom-half {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .part1 .bottom-half .bot-half {
    margin-top: 40px;
    width: 700px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .part1 .bottom-half .bot-half .content-02 {
    width: 100%;
    margin-top: -269px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .part1 .bottom-half .bot-half .content-02 .title-02 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 25px;
    padding-bottom: -15px;
  }
  .part1 .bottom-half .bot-half .content-02 .title-02::after {
    margin-top: -9px;
    left: 51.3%;
    top: 21%;
  }
  .part1 .bottom-half .bot-half .content-02 .main-content-02 {
    font-size: 15px !important;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 20% !important;
  }
  .part1 .bottom-half .bot-half .laptop {
    width: 100%;
    position: absolute;
    top: 5%;
  }
  .part1 .bottom-half .bot-half .laptop img {
    display: block;
    width: 100%;
  }
  .part1 .bottom-half .bot-half .vid-btn {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 47%;
  }
  .part1 .bottom-half .bot-half .vid-btn i {
    top: 44.1%;
  }
}

@media only screen and (max-width: 860px) {
  .part1 .top-half {
    height: 626px;
  }
  .part1 .top-half .content {
    width: 840px;
    transform: scale(0.8) !important;
    top: 20%;
    left: 0%;
  }
}

@media only screen and (max-width: 790px) {
  .part1 .top-half .content {
    width: 771px;
    transform: scale(0.8) !important;
    top: 20%;
    left: 0%;
  }
}

@media only screen and (max-width: 720px) {
  .part1 .top-half {
    height: 566px;
  }
  .part1 .top-half .content {
    width: 694px;
    transform: scale(0.8) !important;
    top: 20%;
    left: 0%;
  }
  .part1 .top-half .content .main-content {
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 115%;
  }
  .part1 .top-half .content .title::after {
    top: 21%;
  }
  .part1 .bottom-half .bot-half {
    width: 600px;
  }
  .part1 .bottom-half .bot-half .content-02 {
    width: 100%;
    margin-top: -269px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .part1 .bottom-half .bot-half .content-02 .title-02 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 25px;
    padding-bottom: -15px;
  }
  .part1 .bottom-half .bot-half .content-02 .title-02::after {
    margin-top: -9px;
    left: 51.3%;
    top: 21%;
  }
  .part1 .bottom-half .bot-half .content-02 .main-content-02 {
    font-size: 14px !important;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 20% !important;
  }
}

@media only screen and (max-width: 680px) {
  .part1 .list-actived {
    opacity: 0;
    visibility: hidden;
    transition: 0.8 linear;
  }
  .part1 .top-half .menu .nav-menu {
    width: 470px;
    justify-content: space-between !important;
  }
  .part1 .top-half .menu .nav-menu .left-menu {
    margin-left: 44px;
  }
  .part1 .top-half .menu .nav-menu .left-menu .mache {
    font-size: 25px;
    margin-top: 5.5px;
  }
  .part1 .top-half .menu .nav-menu .left-menu span {
    font-size: 16.2px;
    margin-top: 12.2px;
  }
  .part1 .top-half .menu .nav-menu .right-menu {
    width: 290px;
  }
  .part1 .top-half .menu .nav-menu .right-menu ul {
    position: absolute;
    width: 100%;
    height: fit-content;
    background: linear-gradient(150deg, #706d6d, #000000);
    top: 80px;
    left: 0;
    text-align: center;
    display: block;
    z-index: 2;
  }
  .part1 .top-half .menu .nav-menu .right-menu ul li {
    display: block;
    padding: 20px 0px;
    width: 96%;
  }
  .part1 .top-half .menu .nav-menu .right-menu ul li:hover {
    background: linear-gradient(150deg, #706d6d, #000000);
  }
  .part1 .top-half .menu .nav-menu .bar-btn {
    display: block;
    position: relative;
    margin-right: 65px;
  }
  .part1 .top-half .menu .nav-menu .bar-btn i {
    font-size: 30px;
  }
  .part1 .top-half .content {
    width: 662px;
    transform: scale(0.8) !important;
    top: 20%;
    left: 0%;
  }
  .part1 .top-half .content .main-content {
    display: none;
  }
  .part1 .top-half .content .showmore-btn {
    top: 21%;
  }
  .part1 .top-half .content .title::after {
    display: none;
  }
}

@media only screen and (max-width: 620px) {
  .part1 .top-half {
    height: 480px;
  }
  .part1 .top-half .content {
    width: 595px;
  }
  .part1 .top-half .content .title .sm-cnt {
    display: none;
  }
  .part1 .top-half .content .showmore-btn {
    top: 11%;
  }
  .part1 .bottom-half .bot-half {
    width: 500px;
  }
  .part1 .bottom-half .bot-half .content-02 .main-content-02 {
    display: none;
  }
  .part1 .bottom-half .bot-half .content-02 .title-02::after {
    display: none;
  }
  .part1 .bottom-half .bot-half .vid-btn {
    top: 15%;
  }
  .part1 .bottom-half .bot-half .laptop {
    top: -78%;
  }
  .part1 .bottom-half::before {
    height: 530px;
  }
}

@media only screen and (max-width: 555px) {
  .part1 .top-half {
    height: 450px;
  }
  .part1 .top-half .content {
    width: 495px;
  }
  .part1 .bottom-half .bot-half {
    width: 430px;
  }
  .part1 .bottom-half .bot-half .content-02 .title-02 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 509px) {
  .part1 {
    width: 100%;
  }
}

@media only screen and (max-width: 1140px) {
  .part1 .top-half .menu .nav-menu {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 490px) {
  .part1 .top-half .menu {
    transform: scale(0.8);
  }
  .part1 .top-half .content {
    width: 433px;
  }
  .part1 .bot-half {
    width: 372px !important;
  }
}

@media only screen and (max-width: 408px) {
  .part1 .top-half .menu {
    transform: scale(0.8);
  }
  .part1 .top-half .content {
    width: 401px;
  }
  .part1 .bot-half {
    width: 372px !important;
  }
}

@media only screen and (max-width: 393px) {
  .part1 .top-half .menu {
    transform: scale(0.8);
  }
  .part1 .top-half .menu .nav-menu .right-menu {
    width: 190px;
  }
  .part1 .top-half .content {
    width: 371px;
  }
  .part1 .bot-half {
    width: 330px !important;
  }
  .part1 .bot-half .content-02 .title-02 {
    font-size: 15px !important;
  }
  .part1 .bot-half .vid-btn {
    font-size: 15px;
  }
}

@media only screen and (max-width: 366px) {
  .part1 .top-half .menu {
    transform: scale(0.8);
  }
  .part1 .top-half .menu .nav-menu {
    width: 410px;
  }
  .part1 .top-half .menu .nav-menu .right-menu {
    width: 190px;
  }
  .part1 .top-half .content {
    width: 361px;
  }
  .part1 .bot-half {
    width: 320px !important;
  }
  .part1 .bot-half .content-02 .title-02 {
    font-size: 14px !important;
  }
  .part1 .bot-half .vid-btn {
    font-size: 14px;
  }
}
/*# sourceMappingURL=Part1.css.map */