.part1 {
  .top-half {
    // background-image: url("https://scontent.xx.fbcdn.net/v/t1.15752-9/309921484_519097742882823_3173758315703348685_n.png?_nc_cat=100&ccb=1-7&_nc_sid=aee45a&_nc_ohc=eczrCKHBre0AX-iNP84&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVLYAGXchTJJlOmbq2sQor-xuNBUKsQ50xG1u38AjFQjBw&oe=636B7BFE");

    display: block;
    width: 100%;
    height: 800px;
    .bg-part1 {
    }
    .menu {
      display: flex;
      justify-content: center;
      padding-top: 25px;
      .nav-menu {
        display: flex;
        width: 1000px;
        // justify-content: center;
        justify-content: space-between;
        .left-menu {
          display: flex;
          span {
            font-size: 11px;
            color: #ed145b;
            padding-right: 2px;
            font-weight: 900;
            margin-top: 5.5px;
            cursor: pointer;
          }
          .mache {
            font-weight: 900;
            color: white;
            cursor: pointer;
          }
        }
        .right-menu {
          width: 420px;
          ul {
            color: white;
            margin-top: 5px;
            font-size: 15px;
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            li:hover {
              color: #ed145b;
              cursor: pointer;
              transition: 0.8s;
            }
          }
        }
      }
    }

    .content {
      // display: flex;q
      // justify-content: center;
      width: 990px;
      color: white;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      .title {
        margin-bottom: 300px;
        font-size: 38px;
        display: flex;
        justify-content: center;
        span {
          font-weight: 700;
        }
        .sm-cnt {
          padding-left: 15px;
          font-weight: lighter;
          letter-spacing: 4px;
        }
      }
      .title:after {
        content: "";
        width: 200px;
        position: absolute;
        height: 2px;
        background: #ed145b;
        margin-top: 4px;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .main-content {
        transform: translateY(-310%);
        .first-line {
          display: flex;
          justify-content: center;
          font-weight: 200;
        }
        .second-line {
          display: flex;
          justify-content: center;
          font-weight: 200;
          transform: translateY(-50%);
        }
      }
      .showmore-btn {
        // outline: 5px solid transparent;
        height: 50px;
        width: 200px;
        background-color: #ed145b;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        &:hover {
          background-color: rgb(60, 238, 238);
          cursor: pointer;
          transition: 1s;
          color: #000;
          margin-top: 60px;
        }
      }
    }
  }
}
