doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title PiedTeam
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  body
    //- img(src="./../img/bg-login.jpg", alt="", srcset="")
    include ./layout/Part1.pug
    include ./layout/Part2.pug
    include ./layout/Part3.pug
    include ./layout/Part4.pug
    include ./layout/Part5.pug
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/js/splide.min.js"></script>
    noscript  PiedTeam
    script(src='../bundle.js')
